.root {
  text-align: center;
  .h4 {
    margin: 10px 0;
  }
}
.loaderBody {
  text-align: center;
  margin: 250px 0;
  .loader {
    width: 20%;
    text-align: center;
    padding: 1em;
    display: inline-block;
    vertical-align: top;
    svg {
      enable-background: new 0 0 50 50;
      fill: #ff6700;
    }
  }
}
